
@inject IViewLocalizer localizer
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@model presentationLayer.Models.Appointment.ActionRequest.CreatAppointmentAR

<!DOCTYPE html>

    <head>
        <!-- Title -->
        <title>@localizer["Book Appointment"]</title>
        <link rel="stylesheet" href="~/css/Home.css">
        <link rel="stylesheet" href="~/css/responsive.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- jQuery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
        <script>
            $(function() {
                $("#datepicker").datepicker();
            });
        </script>
    </head>

<body>
<!-- Start Appointment -->
<section class="appointment">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>@localizer["We Are Always Ready to Help You. Book An Appointment"]</h2>
                    <img src="~/img/section-img.png" alt="#">
                    <p>@localizer["Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts"]</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
                <form  id="appointmentForm" class="form" asp-controller="Appointment" asp-action="Creat" method="post">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <input asp-for="PatientName" type="text" placeholder="@localizer["Name"]">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <input asp-for="Phone" type="text" placeholder="@localizer["Enter your Phone Number"]">
                            </div>
                        </div>
                       @*<div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <input type="text" placeholder="@localizer["Date"]" id="datepicker">
                            </div>
                        </div>*@
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="form-group">
                                <textarea asp-for="Note" placeholder="@localizer["Write Your Message Here....."]" style="height: 100px;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-4 col-12">
                            <div class="form-group">
                                <div class="button">
                                    <button id="submitButton" type="submit" class="btn">@localizer["Book An Appointment"]</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-8 col-12">
                            <p>@localizer["( We will be confirm by an Text Message )"]</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-12 ">
                <div class="appointment-image">
                    <img src="~/img/contact-img.png" alt="#">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Appointment -->

<!-- Start Schedule Area -->
<section class="schedule">
    <div class="container">
        <div class="schedule-inner">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12">
                    <!-- single-schedule -->
                    <div class="single-schedule last" >
                        <div class="inner">
                            <div class="icon">
                                <i class="icofont-ui-clock"></i>
                            </div>
                            <div class="single-content" >
                                <h4>@localizer["Opening Hours"]</h4>
                                <ul class="time-sidual"> <!-- it will take from db -->
                                    <li class="day">@localizer["Monday - Friday"]<span>@localizer["8.00-20.00"]</span></li>
                                    <li class="day">@localizer["Saturday"]<span>@localizer["9.00-18.30"]</span></li>
                                    <li class="day">@localizer["Monday - Thursday"]<span>@localizer["9.00-15.00"]</span></li>
                                </ul>
                                <a href="#">@localizer["LEARN MORE"]<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- single-schedule -->
                    <div class="single-schedule middle">
                        <div class="inner">
                            <div class="icon">
                                <i class="icofont-prescription"></i>
                            </div>
                            <div class="single-content">
                                <!-- <span>@localizer["Fusce Porttitor"]</span> -->
                                <h4>@localizer["Doctor Timetable"]</h4>  <!-- it wiil Rdirect him to appointement of the day -->
                                <p>@localizer["It is Timetable for Today Appointment"]</p>
                                <a asp-controller="Appointment" asp-action="DailyAppointment"> @localizer["LEARN MORE"]<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End single-->
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- single-schedule -->
                    <div class="single-schedule first">
                        <div class="inner">
                            <div class="icon">
                                <i class="fa fa-ambulance"></i>
                            </div>
                            <div class="single-content">
                                <!-- <span>@localizer["Lorem Amet"]</span> -->
                                <h4>@localizer["Emergency Cases"]</h4>
                                <p>@localizer["Lorem ipsum sit amet consectetur adipiscing elit. Vivamus et erat in lacus convallis sodales."]</p>
                                <a href="#">@localizer["LEARN MORE"]<i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.getElementById('appointmentForm').addEventListener('submit', function() {
        // Disable the submit button to prevent multiple submissions
        document.getElementById('submitButton').disabled = true;
    });
</script>
<!--/End Start Schedule Area -->

<!-- For Lyout -->
<!-- jquery Min JS -->
<script src="~/js/jquery.min.js"></script>

<!-- Main JS -->
<script src="~/js/main.js"></script>
<!-- For Lyout -->

</body>
