@{
if (User.IsInRole("Doctor") || User.IsInRole("Nurse"))
{
Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
else if (User.IsInRole("Patient"))
{
Layout = "~/Views/Shared/_Layout.cshtml";
}
else
{
Layout = "~/Views/Shared/_Layout.cshtml"; // Default layout
}
}

@using DataAccessLayer.Entities
@using presentationLayer.Models.Appointment.ViewModel
@model UpdateAppointmentVM;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@localizer["Edit Appointment"]</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="main-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="@Model.profilePhoto" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
                            <div class="mt-3">
                                <h4>@Model.PatientName</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <form asp-controller="Appointment" asp-action="Update" method="post">

                    <!-- Hidden fields for PatientId and AppointmentId -->
                    <input type="hidden" asp-for="PatientId" />
                    <input type="hidden" asp-for="AppointmentId" />
                    <input type="hidden" asp-for="PatientContact" />
                    <div class="card">
                        <div class="card-body">
                            <!-- Patient Name -->
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">@localizer["Full Name"]</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="PatientName" type="text" class="form-control" value="@Model.PatientName">
                                </div>
                            </div>

                            <!-- Patient Contact -->
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">@localizer["Phone"]</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="PatientContact" type="text" class="form-control" value="@Model.PatientContact" disabled>
                                </div>
                            </div>

                         
                            <!-- Order -->
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">@localizer["Order"]</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="Order" type="number" class="form-control" value="@Model.Order" >
                                </div>
                            </div>

                            <!-- Patient Progress (Enum) -->
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">@localizer["PatientStatus"]</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <select asp-for="PatientProgress" class="form-control" >
                                        <option value="0">@localizer["InHome"]</option>
                                        <option value="1">@localizer["InMyWayToClinic"]</option>
                                        <option value="2">@localizer["InClinic"]</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Appointment Status (Enum) -->
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">@localizer["AppointmentStatus"]</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <select asp-for="Status" class="form-control">
                                        <option value="0" >@localizer["Scheduled"]</option>
                                        <option value="1" >@localizer["Canceled"]</option>
                                        @if (!User.IsInRole("Patient"))
                                        {
                                         <option value="2">@localizer["Completed"]</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            @*<!-- Date -->
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">@localizer["Date"]</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="Date" type="date" class="form-control" value="@Model.Date.ToString("yyyy-MM-dd")"  @(User.IsInRole("Patient") ? new { @disabled = "disabled" } : null)>
                                </div>
                            </div>*@

                            @*<!-- Time -->
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">@localizer["Time"]</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="Date" type="time" class="form-control" value="@Model.Date.ToString("h:mm tt")"  @(User.IsInRole("Patient") ? new { @disabled = "disabled" } : null)>
                                </div>
                            </div>*@

                            <!-- Address -->
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">@localizer["Address"]</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="PatientAdress" type="text" class="form-control" value="@Model.PatientAdress" >
                                </div>
                            </div>

                            <!-- Notes -->
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">@localizer["Notes:"]</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input asp-for="Note" type="text" class="form-control" value="@Model.Note">
                                </div>
                            </div>

                            <!-- Save Changes Button -->
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9 text-secondary">
                                    <button type="submit" class="btn btn-primary">@localizer["Save Changes"]</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<!-- For Lyout -->
<!-- jquery Min JS -->
<script src="~/js/jquery.min.js"></script>

<!-- Main JS -->
<script src="~/js/main.js"></script>
<!-- For Lyout -->
</body>

