@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using presentationLayer.Models.Appointment.CompositeViewModel
@model AppointmentPageVM_AR

@inject IViewLocalizer localizer

<body>
<!-- Start Appointment -->
<section class="appointment rtl text-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>@localizer["We Are Always Ready to Help You. Book An Appointment"]</h2>
                    <img src="~/img/section-img.png" alt="#">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12">
                <form id = "appointmentForm" class="form" asp-controller="Appointment" asp-action="Create" method="post">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <label asp-for="CreatAppointmentAR.PatientName">@localizer["Patient Name"]</label>
                                <input asp-for="CreatAppointmentAR.PatientName" type="text" value="@Model.PatientVM?.Name" class="form-control">
                                <span asp-validation-for="CreatAppointmentAR.PatientName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <label asp-for="CreatAppointmentAR.PatientContact">@localizer["Phone Number"]</label>
                                <input asp-for="CreatAppointmentAR.PatientContact" type="text" value="@Model.PatientVM?.PhoneNumber" class="form-control" readonly>
                                <span asp-validation-for="CreatAppointmentAR.PatientContact" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="form-group">
                                <textarea asp-for="CreatAppointmentAR.Note" placeholder="@localizer["Write Your Message Here....."]" style="height: 100px;" class="form-control"></textarea>
                                <span asp-validation-for="CreatAppointmentAR.Note" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-4 col-12">
                            <div class="form-group">
                                <div class="button">
                                    <button type="submit" class="btn">@localizer["Book An Appointment"]</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-8 col-12">
                            <p>@localizer["We will confirm via Text Message"]</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="appointment-image">
                    <img src="~/img/contact-img.png" alt="#">
                </div>
            </div>
        </div>
    </div>
    <!-- End appointment -->
    <!-- Start Schedule Area -->
    <section class="schedule">
        <div class="container">
            <div class="schedule-inner">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-12">
                        <!-- single-schedule -->
                        <div class="single-schedule last" >
                            <div class="inner">
                                <div class="icon">
                                    <i class="icofont-ui-clock"></i>
                                </div>
                                <div class="single-content">
                                    <div class="single-footer">
                                        <h2 style="color: white;">@localizer["Open Hours"]</h2>
                                        @await Component.InvokeAsync("WorkingDays")
                                    </div>
                                    <a href="#">@localizer["LEARN MORE"]<i class="fa fa-long-arrow-right"></i></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12  align-items-center text-center">
                        <!-- single-schedule -->
                        <a asp-controller="Appointment" asp-action="DailyAppointment" class="full-link">
                        <div class="single-schedule middle">
                            <div class="inner">
                                <div class="icon">
                                    <i class="icofont-prescription"></i>
                                </div>
                                <div class="single-content align-items-center text-center">
                                    <!-- <span>@localizer["Fusce Porttitor"]</span> -->
                                    <h4>@localizer["Doctor Timetable"]</h4>  <!-- it wiil Rdirect him to appointement of the day -->
                                    <p>@localizer["It is Timetable for Today Appointment"]</p>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                    <!-- End single-->
                    <div class="col-lg-4 col-md-6 col-12  align-items-center text-center">
                        <!-- single-schedule -->
                        <div class="single-schedule first">
                            <div class="inner">
                                <div class="icon">
                                    <i class="fa fa-ambulance"></i>
                                </div>
                                <div class="single-content align-items-center text-center">
                                    <!-- <span>@localizer["Lorem Amet"]</span> -->
                                    <h4>@localizer["Emergency Cases"]</h4>
                                    <p>@localizer["Lorem ipsum sit amet consectetur adipiscing elit. Vivamus et erat in lacus convallis sodales."]</p>
                                    <a href="#">@localizer["LEARN MORE"]<i class="fa fa-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/End Start Schedule Area -->

</section>
<script>
    document.getElementById('appointmentForm').addEventListener('submit', function() {
        // Disable the submit button to prevent multiple submissions
        document.getElementById('submitButton').disabled = true;
    });
</script>
</body>
<!-- End Appointment -->
