@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer localizer
@using System.Globalization
@using System.Security.Claims
@{
var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);

var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<!doctype html>
<html class="no-js" lang="ar" dir="@(isRTL ? "rtl" : "ltr")" >
<head>

    <<link rel="stylesheet" href="~/lib/sweetalert2/dist/sweetalert2.min.css">
   
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Site keywords here">
    <meta name="description" content="">
    <meta name='copyright' content=''>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>@localizer["Ayadty"]</title>

    <!-- Favicon -->
    <link rel="icon" href="~/img/favicon.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <!-- Include SweetAlert CSS and JS  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/css/nice-select.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- icofont CSS -->
    <link rel="stylesheet" href="~/css/icofont.css">
    <!-- Slicknav -->
    <link rel="stylesheet" href="~/css/slicknav.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/css/owl-carousel.css">
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="~/css/datepicker.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/css/animate.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <<link rel="stylesheet" href="~/lib/sweetalert2/dist/sweetalert2.min.css">

    <!-- Medipro CSS -->
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/Home.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body>

<!-- Preloader -->
<div class="preloader">
    <div class="loader">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>

        <div class="indicator">
            <svg width="16px" height="12px">
                <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
            </svg>
        </div>
    </div>
</div>
<!-- End Preloader -->
<!-- Header Area -->
<header class="header" >
        <li class="d-inline-block">
            <a href="#">@await Html.PartialAsync("_SelectLanguagePartial")</a>
        </li>
        <hr>
    <!-- Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-12">
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" asp-controller="Doctor" asp-action="profile">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                @localizer["Profile"]
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"  asp-controller="auth" asp-action="Login" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                @localizer["Logout"]
                            </a>
                        </div>
                        <!-- Mobile Nav -->
                        <div class="mobile-nav"></div>
                        
                        @if (currentController != "Home" || currentAction != "Index")
                        {
                            <div style="padding-top: 20px;">
                                <a style="color: white;" asp-controller="Home" asp-action="Index" class="btn btn-primary btn-sm">
                                    @localizer["Back to home page"]
                                </a>
                            </div>
                        }
                        <!-- End Mobile Nav -->
                    </div>
                    <div class="col-lg-7 col-md-9 col-12">
                        <!-- Main Menu -->
                        <div class="main-menu">
                            <nav class="navigation align-items-center text-center">
                                <ul class="nav menu rtl align-items-center text-center">
                                    @*<li class="nav-item">
                                        <a asp-controller="Home" asp-action="Index">@localizer["Home"]</a>
                                    </li>*@
                                    <li class="nav-item"> <a asp-controller="Patient" asp-action="Profile" asp-route-patientId="@userId">@localizer["Patient Profile"]</a></li>
                                    <li class="nav-item"><a asp-controller="Doctor" asp-action="AboutMe">@localizer["Doctor"]</a></li>
                                    <li class="nav-item">
                                        <a href="#"> @localizer["Pages"] <i class="icofont-rounded-down"></i></a>
                                        <ul class="dropdown">
                                            @if (User.IsInRole("Patient"))
                                            {
                                            <li><a asp-controller="Patient" asp-action="Profile" asp-route-patientId="@userId" >@localizer["Patient Profile"]</a></li>
                                                
                                            }
                                            <li><a asp-controller="Appointment" asp-action="DailyAppointment">@localizer["DailyAppointment"]</a></li>
                                            <li><a asp-controller="auth" asp-action="Register">@localizer["Registration"]</a></li>
                                            <li><a asp-controller="auth" asp-action="Login">@localizer["Log In"]</a></li>
                                            <li><a asp-controller="Appointment" asp-action="Create">@localizer["CreatAppointment"]</a></li>
                                            <li><a asp-controller="Clinic" asp-action="ContactUs">@localizer["Contact Now"]</a></li>
                                            <li><a asp-controller="Clinic" asp-action="Profile">@localizer["Clinic Profile"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item"><a asp-controller="Clinic" asp-action="ContactUs">@localizer["Contact Us"]</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!--/ End Main Menu -->
                    </div>
                    <div class="col-lg-2 col-12">
                        <div class="get-quote">
                            <a asp-controller="Appointment" asp-action="Create" class="btn">@localizer["Book Appointment"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</header>

<div>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<!-- Footer Area -->
<footer class="footer  rtl text-center align-items-center">
    <!-- Footer Top -->
    <div class="footer-top centered-content">
        <div class="container">
            <div class="row g-4 justify-content-around" style="align-items: center"> <!-- Added g-4 for horizontal space -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <a asp-controller="Doctor" asp-action="AboutMe">
                            <h2>@localizer["About Us"]</h2>
                        </a>
                        <p>@localizer["We Provide Medical Services That You Can Trust!"]</p>
                        <!-- Social -->
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=100009707350577" target="_blank" rel="noopener noreferrer">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                            <li><a href="#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="#"><i class="icofont-vimeo"></i></a></li>
                            <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                        </ul>
                        <!-- End Social -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer f-link">
                        <h2>@localizer["Quick Links"]</h2>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <ul>
                                    <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-caret-right" aria-hidden="true"></i>@localizer["Home"]</a></li>
                                    <li><a asp-controller="Doctor" asp-action="AboutMe"><i class="fa fa-caret-right" aria-hidden="true"></i>@localizer["About Us"]</a></li>
                                    <!-- <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>@localizer["Services"]</a></li> -->
                                    <!-- <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>@localizer["Our Cases"]</a></li> -->
                                    <!--  <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>@localizer["Other Links"]</a></li> -->
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <ul>
                                    @*<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>@localizer["Consuling"]</a></li>*@
                                    @*
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>@localizer["Finance"]</a></li>
                                    *@
                                    @*
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>@localizer["Testimonials"]</a></li>
                                    *@
                                    @*
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>@localizer["FAQ"]</a></li>
                                    *@
                                    <li><a asp-controller="Clinic" asp-action="ContactUs"><i class="fa fa-caret-right" aria-hidden="true"></i>@localizer["Contact Us"]</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-footer">
                        <h2>@localizer["Open Hours"]</h2>
                        @await Component.InvokeAsync("WorkingDays")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Footer Top -->
</footer>
<!--/ End Footer Area -->

<!-- jquery Min JS -->
<script src="js/jquery.min.js"></script>
<!-- jquery Migrate JS -->
<script src="js/jquery-migrate-3.0.0.js"></script>
<!-- jquery Ui JS -->
<script src="js/jquery-ui.min.js"></script>
<!-- Easing JS -->
<script src="js/easing.js"></script>
<!-- Color JS -->
<script src="js/colors.js"></script>
<!-- Popper JS -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap Datepicker JS -->
<script src="js/bootstrap-datepicker.js"></script>
<!-- Jquery Nav JS -->
<script src="js/jquery.nav.js"></script>
<!-- Slicknav JS -->
<script src="js/slicknav.min.js"></script>
<!-- ScrollUp JS -->
<script src="js/jquery.scrollUp.min.js"></script>
<!-- Niceselect JS -->
<script src="js/niceselect.js"></script>
<!-- Tilt Jquery JS -->
<script src="js/tilt.jquery.min.js"></script>
<!-- Owl Carousel JS -->
<script src="js/owl-carousel.js"></script>
<!-- counterup JS -->
<script src="js/jquery.counterup.min.js"></script>
<!-- Steller JS -->
<script src="js/steller.js"></script>
<!-- Wow JS -->
<script src="js/wow.min.js"></script>
<!-- Magnific Popup JS -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!-- Counter Up CDN JS -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<!-- Bootstrap JS -->
<script src="js/bootstrap.min.js"></script>
<!-- Main JS -->
<script src="js/main.js"></script>
<!-- Bootstrap JS -->
<script src="~/js/bootstrap.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script src="~/js/main.js"></script>
<!-- Jquery Nav JS -->
<script src="~/js/jquery.nav.js"></script>

<script src="~/lib/sweetalert2/dist/sweetalert2.all.min.js"></script>
<script>
    $(document).ready(function () {
        var successMessage = '@Html.Raw(TempData["SuccessMessage"] ?? string.Empty)';
        if (successMessage.length > 0) {
            Swal.fire({
                icon: 'success',
                title: '@localizer["Success"]',
                text: successMessage
            });
        }

        var errorMessage = '@Html.Raw(TempData["ErrorMessage"] ?? string.Empty)';
        if (errorMessage.length > 0) {
            Swal.fire({
                icon: 'error',
                title: '@localizer["Oops..."]',
                text: errorMessage
            });
        }
    });
    function confirmCancel(appointmentId) {
        Swal.fire({
            title: '@localizer["Are you sure?"]',  // Localized title
            text: '@localizer["Do you really want to cancel the appointment?"]',  // Localized text
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: '@localizer["Yes, cancel it!"]',
            cancelButtonText: '@localizer["No, keep it"]'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/Appointment/Cancele?appointmentId=' + appointmentId;
            }
        });
    }

    function confirmDelete(appointmentId) {
        Swal.fire({
            title: '@localizer["Are you sure?"]',
            text: '@localizer["Do you really want to delete the appointment?"]',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: '@localizer["Yes, delete it!"]',
            cancelButtonText: '@localizer["No, keep it"]'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/Appointment/Delete?appointmentId=' + appointmentId;
            }
        });
    }
     

</script>
<!-- Custom scripts for all pages-->
<script src="~/js/sb-admin-2.min.js"></script>
<!-- SweetAlert2 CSS (Notifaction) -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
