@{
Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model BusinessLogicLayer.DTOs.HelperClass.PaginatedList<DataAccessLayer.Entities.Doctor>
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Show All Patients</title>
	<link rel="stylesheet" href="~/css/ShowAllPatients.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="main-box clearfix">
				<div class="table-responsive">
					<table class="table user-list">
						<thead class="text-center align-items-center">
						<tr>
							<th><span>@localizer["Name"]</span></th>
							<th><span>@localizer["age"]</span></th>
							<th class="text-center"><span>@localizer["Job"]</span></th>
							<th><span>@localizer["Mobile"]</span></th>
							<th>&nbsp;</th>
						</tr>
						</thead>
						<tbody>
						@foreach (var Admin in Model.Items)
						{
						<tr class="text-center align-items-center">
							<td class="user-cell  align-items-center text-center">
								<img class="profile-photo" src="@Url.Content("~/img/" + Admin.ProfilePhoto)" alt="">
								<a class="user-link text-center" target="__blank"
								   href="@Url.Action("Profile", "Doctor", new { doctorId = Admin.Id })"
								   onclick="event.stopPropagation();">@Admin.FullName</a>
								<span class="user-subhead"></span>
							</td>	
							<td>
								@if (Admin.DateOfBirth != null)
								{
									var age = DateTime.Today.Year - Admin.DateOfBirth.Year;
									if (Admin.DateOfBirth.Date > DateTime.Today.AddYears(-age)) age--;
									<span>@age</span>
								}
							</td>
							<td class="text-center">
								@if (Admin.IsDoctor)
								{
									<span class="label label-default">@localizer["Doctor"]</span>
								}
								else
								{
									<span class="label label-default">@localizer["Nurse"]</span>
								}

							</td>
							<td class="text-center">
								<a href="@($"https://wa.me/20{Admin.Phone.TrimStart('0')}")" target="_blank">@Admin.Phone</a>
							</td>
							<td style="width: 20%;">
								<a 	 href="@Url.Action("Update", "Doctor", new { doctorId = Admin.Id })">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
								</a>
								<a  class="table-link danger" onclick="confirmDelete('@Admin.Id')">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
								</a>
							</td>
						</tr>
						}
						</tbody>
					</table>
				</div>

				<!-- Pagination Controls -->
				<ul class="pagination pull-right">
					@if (Model.HasPreviousPage)
					{
					<li><a href="?pageNumber=@(Model.PageNumber - 1)&pageSize=@Model.PageSize"><i class="fa fa-chevron-left"></i></a></li>
					}

					@for (var i = 1; i <= Model.TotalPages; i++)
					{
					<li class="@(i == Model.PageNumber ? "active" : "")">
						<a href="?pageNumber=@i&pageSize=@Model.PageSize">@i</a>
					</li>
					}

					@if (Model.HasNextPage)
					{
					<li><a href="?pageNumber=@(Model.PageNumber + 1)&pageSize=@Model.PageSize"><i class="fa fa-chevron-right"></i></a></li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>
<script>
	function confirmDelete(doctorId) {
		Swal.fire({
			title: '@localizer["Are you sure?"]',
			text: '@localizer[  "Do you really want to delete the admin"]',
			icon: 'warning',
			showCancelButton: true,
			confirmButtonText: '@localizer["Yes, delete it!"]',
			cancelButtonText: '@localizer["No, keep it"]'
		}).then((result) => {
			if (result.isConfirmed) {
				window.location.href = '/Doctor/Delete?doctorId=' + doctorId;
			}
		});
	}
</script>
</body>
</html>
