@{
Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model BusinessLogicLayer.DTOs.HelperClass.PaginatedList<DataAccessLayer.Entities.Patient>
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
<!DOCTYPE html>
<html lang="ar">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Show All Patients</title>
	<link rel="stylesheet" href="~/css/ShowAllPatients.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="main-box clearfix">
				<div class="table-responsive">
					<table class="table user-list">
						<thead class="text-center align-items-center">
						<tr>
							<th><span>@localizer["Name"]</span></th>
							<th><span>@localizer["age"]</span></th>
							<th class="text-center"><span>@localizer["Number Of Completed Appointment"]</span></th>
							<th><span>@localizer["Mobile"]</span></th>
							<th>&nbsp;</th>
						</tr>
						</thead>
						<tbody>
						@foreach (var patient in Model.Items)
						{
						<tr class="align-items-center" dir="ltr">
							<td class="user-cell" style="text-align: right !important;">
								<img class="profile-photo" src="@Url.Content("~/img/" + patient.ProfilePhoto)" alt="">
								<a class="user-link text-center" target="__blank"
								   href="@Url.Action("Profile", "Patient", new { patientId = patient.Id })"
								   onclick="event.stopPropagation();">@patient.FullName</a>
							</td>	
							<td class="text-center">
								@if (patient.DateOfBirth != null)
								{
									var age = DateTime.Today.Year - patient.DateOfBirth.Year;
									if (patient.DateOfBirth.Date > DateTime.Today.AddYears(-age)) age--;
									<span>@age</span>
								}
							</td>
							<td class="text-center">
								<span class="label label-default">@patient.CompletedAppointments</span>
							</td>
							<td class="text-center">
								<a href="@($"https://wa.me/20{patient.Phone.TrimStart('0')}")" target="_blank">@patient.Phone</a>
							</td>

							<td style="width: 20%;"  class="text-center">
								
								<a 	 href="@Url.Action("Update", "Patient", new { patientId = patient.Id })">
                                            <span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
								</a>
								<a  class="table-link danger" onclick="confirmDelete('@patient.Id')">
									
									<span class="fa-stack">
                                                <i class="fa fa-square fa-stack-2x"></i>
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
								</a>
							</td>
						</tr>
						}
						</tbody>
					</table>
				</div>

				<!-- Pagination Controls -->
				<ul class="pagination pull-right">
					@if (Model.HasPreviousPage)
					{
					<li><a href="?pageNumber=@(Model.PageNumber - 1)&pageSize=@Model.PageSize"><i class="fa fa-chevron-left"></i></a></li>
					}

					@for (var i = 1; i <= Model.TotalPages; i++)
					{
					<li class="@(i == Model.PageNumber ? "active" : "")">
						<a href="?pageNumber=@i&pageSize=@Model.PageSize">@i</a>
					</li>
					}

					@if (Model.HasNextPage)
					{
					<li><a href="?pageNumber=@(Model.PageNumber + 1)&pageSize=@Model.PageSize"><i class="fa fa-chevron-right"></i></a></li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		var successMessage = '@Html.Raw(TempData["SuccessMessage"] ?? string.Empty)';
		if (successMessage.length > 0) {
			Swal.fire({
				icon: 'success',
				title: '@localizer["Success"]',
				text: successMessage
			});
		}

		var errorMessage = '@Html.Raw(TempData["ErrorMessage"] ?? string.Empty)';
		if (errorMessage.length > 0) {
			Swal.fire({
				icon: 'error',
				title: '@localizer["Oops..."]',
				text: errorMessage
			});
		}
	});
	function confirmDelete(patientId) {
		Swal.fire({
			title: '@localizer["Are you sure?"]',
			text: '@localizer[  "Do you really want to delete the patient?"]',
			icon: 'warning',
			showCancelButton: true,
			confirmButtonText: '@localizer["Yes, delete it!"]',
			cancelButtonText: '@localizer["No, keep it"]'
		}).then((result) => {
			if (result.isConfirmed) {
				window.location.href = '/Patient/Delete?patientId=' + patientId;
			}
		});
	}
</script>
</body>
</html>
