@{
    Layout = null;
}

@{
    var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}


@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer localizer
@using System.Globalization



<!DOCTYPE html>
<html lang="ar" dir="@(isRTL ? "RTL" : "LTR")">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/DoctorProfile.css">



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Site keywords here">
    <meta name="description" content="">
    <meta name='copyright' content=''>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
   

    <!-- Favicon -->
    <link rel="icon" href="~/img/favicon.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">



    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/css/nice-select.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- icofont CSS -->
    <link rel="stylesheet" href="~/css/icofont.css">
    <!-- Slicknav -->
    <link rel="stylesheet" href="~/css/slicknav.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/css/owl-carousel.css">
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="~/css/datepicker.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/css/animate.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <!-- Medipro CSS -->
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/Home.css">
    <link rel="stylesheet" href="~/css/responsive.css">


</head>

<body>
    <div class="container">
        <div class="main-body">

            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">@localizer["Home"]</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">@localizer["User"]</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@localizer["User Profile"]</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="@localizer["Admin"]" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>@localizer["John Doe"]</h4>
                                    <p class="text-secondary mb-1">@localizer["Full Stack Developer"]</p>
                                    <p class="text-muted font-size-sm">@localizer["Bay Area, San Francisco, CA"]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary">
                                        <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
                                    </svg>@localizer["Facebook"]
                                </h6>
                                <span class="text-secondary">@localizer["bootdey"]</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">@localizer["Full Name"]</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @localizer["Kenneth Valdez"]
                                </div>
                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">@localizer["Mobile"]</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @localizer["(320) 380-4539"]
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">@localizer["Email"]</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @localizer["fip@jukmuh.al"]
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">@localizer["Experience"]</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @localizer["5Y"]
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">@localizer["Price"]</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @localizer["100 per hour"]
                                </div>
                            </div>

                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-info" target="__blank" href="D_Edit.html">@localizer["Edit"]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix">
                        <div class="table-responsive">
                            <table class="table user-list">
                                <thead>
                                    <tr>
                                        <th><span>@localizer["ID"]</span></th>
                                        <th><span>@localizer["User"]</span></th>
                                        <th><span>@localizer["Date"]</span></th>
                                        <th><span>@localizer["Time"]</span></th>
                                        <th class="text-center"><span>@localizer["Status"]</span></th>
                                        <th><span>@localizer["Phone Number"]</span></th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@localizer["1"]</td>
                                        <td>
                                            <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                            <a href="#" class="user-link">@localizer["Full name 1"]</a>
                                        </td>
                                        <td>@localizer["2013/08/12"]</td>
                                        <td>@localizer["12:18:09"]</td>
                                        <td class="text-center">
                                            <span class="label label-default">@localizer["Pending"]</span>
                                        </td>
                                        <td>
                                            <a href="#">@localizer["+201021587031"]</a>
                                        </td>
                                        <td style="width: 20%;">
                                            <a href="#" class="table-link text-warning">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                </span>
                                                <a href="#" class="table-link text-info">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                                <a href="#" class="table-link danger">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["2"]</td>
                                        <td>
                                            <img src="https://bootdey.com/img/Content/user_3.jpg" alt="">
                                            <a href="#" class="user-link">@localizer["Full name 2"]</a>
                                        </td>
                                        <td>@localizer["2013/08/12"]</td>
                                        <td>@localizer["11:48:05"]</td>
                                        <td class="text-center">
                                            <span class="label label-success">@localizer["Active"]</span>
                                        </td>
                                        <td>
                                            <a href="#">@localizer["+201123463412"]</a>
                                        </td>
                                        <td style="width: 20%;">
                                            <a href="#" class="table-link text-warning">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                </span>
                                                <a href="#" class="table-link text-info">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                                <a href="#" class="table-link danger">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@localizer["3"]</td>
                                        <td>
                                            <img src="https://bootdey.com/img/Content/user_2.jpg" alt="">
                                            <a href="#" class="user-link">@localizer["Full name 3"]</a>
                                        </td>
                                        <td>@localizer["2013/08/12"]</td>
                                        <td>@localizer["10:18:09"]</td>
                                        <td class="text-center">
                                            <span class="label label-danger">@localizer["Inactive"]</span>
                                        </td>
                                        <td>
                                            <a href="#">@localizer["+201235801357"]</a>
                                        </td>
                                        <td style="width: 20%;">
                                            <a href="#" class="table-link text-warning">
                                                <span class="fa-stack">
                                                    <i class="fa fa-square fa-stack-2x"></i>
                                                    <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                </span>
                                                <a href="#" class="table-link text-info">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                                <a href="#" class="table-link danger">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--/ End Footer Area -->
    <!-- jquery Min JS -->
    <script src="~/js/jquery.min.js"></script>
    <!-- jquery Migrate JS -->
    <script src="~/js/jquery-migrate-3.0.0.js"></script>
    <!-- jquery Ui JS -->
    <script src="~/js/jquery-ui.min.js"></script>
    <!-- Easing JS -->
    <script src="~/js/easing.js"></script>
    <!-- Color JS -->
    <script src="~/js/colors.js"></script>
    <!-- Popper JS -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap Datepicker JS -->
    <script src="~/js/bootstrap-datepicker.js"></script>
    <!-- Jquery Nav JS -->
    <script src="~/js/jquery.nav.js"></script>
    <!-- Slicknav JS -->
    <script src="~/js/slicknav.min.js"></script>
    <!-- ScrollUp JS -->
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <!-- Niceselect JS -->
    <script src="~/js/niceselect.js"></script>
    <!-- Tilt Jquery JS -->
    <script src="~/js/tilt.jquery.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/js/owl-carousel.js"></script>
    <!-- counterup JS -->
    <script src="~/js/jquery.counterup.min.js"></script>
    <!-- Steller JS -->
    <script src="~/js/steller.js"></script>
    <!-- Wow JS -->
    <script src="~/js/wow.min.js"></script>
    <!-- Magnific Popup JS -->
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <!-- Counter Up CDN JS -->
    <script src="~/js/waypoints.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/js/bootstrap.min.js"></script>
</body>

</html>